.about-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;
    overflow: hidden;
}

.information-of-about-section {
    margin: 0px 10px 0 0;
    width: 670px;
}

.information-of-about-section > h1 {
    font-size: 30px;
    color: #444444;
    line-height: 1;
}

.information-of-about-section > p {
    margin: 15px 0;
    line-height: 1.5;
    color: #444444;
}

.information-of-about-section > ul > li {
    list-style: none;
    color: #444444;
    line-height: 30px;
    font-size: 16px;
    padding-left: 23px;
}

.information-of-about-section > ul {
    position: relative;
}

.information-of-about-section > ul > li > i {
    color: #FFBB38;
    position: absolute;
    left: 0;
}

.image-of-about-section {
    margin: 0 0 0 10px;
}

.image-of-about-section > img {
    width: 650px;
    height: 480px;
}

@media (max-width: 1400px) {
    .information-of-about-section {
        width: 565px;
    }

    .image-of-about-section > img {
        width: 550px;
        height: 400px;
    }
}

@media (max-width: 1200px) {
    .information-of-about-section {
        width: 450px;
    }

    .image-of-about-section > img {
        width: 450px;
        height: 350px;
    }
}

@media (max-width: 992px) {
    .about-section {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: start;
    }

    .image-of-about-section > img {
        width: 700px;
        height: 520px;
    }

    .information-of-about-section {
        width: 650px;
        margin: 20px 0 0 0;
    }

    .information-of-about-section > p {
        padding-top: 5px;
    }
}


@media (max-width: 780px) {
    .image-of-about-section > img {
        width: 530px;
        height: 380px;
    }

    .information-of-about-section {
        width: 520px;
    }

    .information-of-about-section > p > em > br {    
        display: block;
    }
}

@media (max-width: 570px) {
    .image-of-about-section > img {
        width: 100%;
        max-width: 530px;
        height: 400px;
        padding: 0 10px;
        margin: 0;
    }

    .information-of-about-section {
        width: 100%; 
        max-width: 550px;
        min-height: 400px;
        margin: 20px 10px 0 10px;
        padding: 0 10px;
    }
}